@import "tailwindcss";

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sloop Script Pro';
  src: url('/fonts/sloop-script-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --color-red: #8B1818;
  --color-brown:#3D0D09;
  --color-beige: #CFBEA3; 

  --font-neue:'Neue Montreal', system-ui;
  --font-sloop: 'Sloop Script Pro', cursive;
}
